@using JobSearcher.JobOpening
@using JobSearcher.ViewModels
@model List<JobOpeningSearcherModel>
@{
    var glassDoorModel =
    new SearchSectionViewModel { Site = Site.GlassDoor, Searches = Model.Where(s => s.Site == Site.GlassDoor).ToList() };
    
    var indeedModel =
    new SearchSectionViewModel { Site = Site.Indeed, Searches = Model.Where(s => s.Site == Site.Indeed).ToList() };

    var praculPlModel =
    new SearchSectionViewModel { Site = Site.PracujPl, Searches = Model.Where(s => s.Site == Site.PracujPl).ToList() };

}
<div class="container my-4">
    <h3 class="mb-3 text-primary">Your Searches</h3>

    <div class="row">
        <div class="col-12 mb-4">

            @await Html.PartialAsync("SearchSection/_SearchSection", glassDoorModel)
            @await Html.PartialAsync("SearchSection/_SearchSection", indeedModel)
            @await Html.PartialAsync("SearchSection/_SearchSection", praculPlModel)
        </div>

        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    Scheduled Reports
                </div>
                <div class="card-body">
                    @await Component.InvokeAsync("ReportScheduler")
                </div>
            </div>
        </div>
    </div>
</div>