@using JobSearcher.Job
@model JobInfo
<li style="margin-top: 8px;">
    <span style="background-color: aliceblue; padding: 3px; box-shadow: 2px 3px #888888;">@Model.Name</span> -
    <span style="background-color: rgb(44, 74, 101); padding: 3px; box-shadow: 2px 1px #888888;">@Model.Description</span>
</li>